body {
    background-color:white;
    font-family:monospace;
    color:rgb(59, 59, 59);
    display:flex;
    min-height:100vh;
    flex:1;
    margin:0px;
    align-items: center;
    display:flex;

    flex-direction: column;
}

.header {
    border-bottom:3px dashed rgb(158, 158, 158);
    background-color: white;    
    min-width:100vw;
    height:150px;
    margin:0px;
    justify-content: center;
    align-items: center;

    display:flex;
    box-sizing: border-box;
}

.content {
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    flex:1 0 auto;
    width:1000px;
    
}

.sidebar-left{
    width:200px;
    display:flex;
    border-right:3px dashed #f3f3f3;
    padding:12px;

    flex-direction: column;
    background-image:linear-gradient(to left, #f3f3f3 5%, rgba(0,0,0,0) 90%)
}

.main{
    min-width:500px;
    width:600px;
    display:flex;
    flex-direction: column;
    padding:12px;

}

.sidebar-right{
    width:200px;
    display:flex;
    padding:12px;
    border-left:3px dashed #f3f3f3;
    flex-direction: column;
    background-image:linear-gradient(to right, #f3f3f3 5%, rgba(0,0,0,0) 90%)

}




h1{
    font-size: 50px;
    color:rgb(122, 122, 122);
    background-image:linear-gradient(to top, rgb(245, 245, 245) 45%, rgba(0,0,0,0) 40%);
    padding:12px;
    font-family: 'Tinos', serif;
}

h2{
    background-color: rgb(245, 245, 245);
    border-right:43.5px solid rgb(230, 230, 230);

    padding:12px;
    margin:0;
}

h3{
    background-image:linear-gradient(to top, rgba(255, 0, 0, 0.11) 45%, rgba(0,0,0,0) 40%);
    display:flex;
    margin:0;
}

a{
    text-decoration: none;
    color:rgb(122, 122, 122)
}

a:hover{
    color:rgb(163, 163, 163);
    text-decoration-style:solid;
}

p{
    padding:12px;
    text-indent: 12px;
    margin:0;
}

p::first-letter{
    color:green;
    font-size:20px;
    padding-left:-6px;
}

ul{
    padding-left:20px;
}

ul a{
    text-decoration:underline dashed;
    background-image:linear-gradient(to top, #e9e9f0 45%, rgba(0,0,0,0) 40%);
}

ul li{
    padding-bottom:4px;
}

.sidebar-right ul li::marker{
    content:'▪ ';
    color:blue;
}

.sidebar-right h3 {
    background-image:linear-gradient(to top, rgba(17, 0, 255, 0.11) 45%, rgba(0,0,0,0) 40%);
}

ul li::marker{
    content:'▪ ';
    color:red;
}

::selection{
    background-color: grey;
    color:white;
  }


.footer{
    background-color: rgb(245, 245, 245);
    display:flex;
    padding:4px;
    margin:18px;
    margin-bottom:0px;
    justify-content: center;
  }